<!DOCTYPE html>
<html lang="en">
<head>
    <title>Categories</title>
    <% include ../template/head.ejs %>
</head>
<body>
    <div class="container-fluid fill">
        <% include ../template/header.ejs %>
        <% include ../template/user-navigation.ejs %>
        <div class="main-wrap">
            <div class="row main">
                <% include ../template/site-navigation.ejs %>
                <div class="col-sm-10 main-content">
                    <div id="flow">Home / Categories</div>
                    <div id="content">
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select Cars Category
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <% for(i=0;i < type.length;i++) { %>
                                    <% if(i!=0) { %>
                                        <li class="divider"></li>
                                    <% } %>
                                    <li class="type_cars"><a href="<%= "./categories?catalogCategory=" + type[i]  %>"><%= type[i] %></a></li>
                                <% } %>
                            </ul>
                        </div>
                        <br>
                        <% if(found) { %>
                            <div class="cat-1">
                                <% for(i = 0; i < cars.length; i++) { %>
                                    <h4><b><%= cars[i].category %></b></h4>
                                    <% for(j=0;j < cars[i].value.length;j++){ %>
                                        <% if(j%4 == 0) { %>
                                            <div class="row ">
                                        <% } %>
                                            <div class="cate-items col-sm-3">
                                                <div class="thumbnail">
                                                    <a href="<%= "./item?itemCode=" + cars[i].value[j].ItemCode  %>">
                                                        <img src=<%= cars[i].value[j].ImageURL %> class="cate-images" alt="">
                                                        <div class="caption">
                                                            <h5><b><%= cars[i].value[j].ItemName %></b></h5>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        <% if(j%4 == 3) { %>
                                            </div>
                                        <% } %>
                                    <% } %>
                                    <% if(j!=4){ %>
                                        </div>
                                    <% } %>
                                <% } %>    
                            </div>
                        <% } else { %>
                            <p>Select the category of car from the dropdown list</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div> 
        <% include ../template/footer.ejs %>
    </div>
</body>

</html>